<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ name }}</h1>
      <div>
        <label for="newCharacter">Register a new character:</label>
        <input type="text" v-model="newCharacter">
      </div>
      <button @click="addCharacter()">Add Character</button>
      <div>
        <ul v-if="characterList.length > 0">
          <h3>Characters:</h3>
          <div v-for="character in characterList">
            <li>{{ character.name }}</li>
            <button @click="chosenCharacter(character.name)">Favorite</button>
          </div>
        </ul>
        <h3 v-else>No Characters Registered</h3>
      </div>
      <hr />
      <div>
        <ul v-if="favoriteCharacterList.length > 0">
          <h3>Favorite Characters</h3>
          <li v-for="character in favoriteCharacterList">{{ character }}</li>
        </ul>
        <h3 v-else>No Favorite Characters Registered</h3>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            name: "The Bear",
            newCharacter: '',
            favoriteCharacterList: [],
            characterList: [
              { name: "Carmen" },
              { name: "Sydney Adamu" },
              { name: "Jerimovich" }
            ]
            // charactersList: []
          }
        },
        methods: {
          addCharacter() {
            this.characterList.push({ name: this.newCharacter })
          },
          chosenCharacter(item) {
            if (!this.favoriteCharacterList.includes(item)) {
              this.favoriteCharacterList.push(item)
            }
          }
        }
      })

      app.mount("#app")
    </script>
  </body>
</html>
